{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="biodata" style="float: left;width: 580px;height: 657px;background-position: 40px 224px">
					<h1 style="font-size: 4vw">Tentang Saya</h1>
					<p style="font-size: 1.5vw">Saya adalah seorang mahasiswa Fakultas ilmu komputer Universitas Indonesia jurusan Sistem informasi.<br>
					  Saya adalah orang yang mempunyai ketertarikan yang begitu besar dalam dunia seni.<br> 
					  Terutama seni peran dan seni audio visual.<br><br> 

					  Oleh karena itu saya sangat banyak mencari pengalaman di luar kampus melalui komunitas komunitas film dan teater.<br>
					  Namun, saya juga tidak melupakan hakikat saya sebagai seorang calon programmer.<br><br>

					  Seni menurut saya sangat berpengaruh besar terhadap karier saya kelak sebagai programmer<br>karena dari seni kita diajarkan untuk memperhatikan setiap detail yang ada  didalam sebuah karya.<br> Begitu juga kelak sebagai seorang programmer, kita sangat diharuskan memperhatikan detail.
				</p>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="foto" >
					<img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42240088_2602194543127659_670534580628881408_n.jpg?_nc_cat=103&oh=744f9eb172ecebbe32f7590d85ffc53b&oe=5C163D78" class="img-rounded img-responsive "style="width:750px;height: auto;float: right;margin: 5px;background-position:654px 160px;"></img>
				</div>
			</div>
		</div>
	</div>


	
  


</div>
</div>


</body>
</html>