{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
	<div class="page_header">
		<a href="{% url 'agendaku' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	</div>
	{% block content %}
		<div class = "container p-5">
			<h3>Agendaku</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Nama</th>
						<th>Lokasi</th>
						<th>Tanggal</th>
						<th>Waktu</th>
						<th>Kategori</th>
					</thead>
					<tbody>
						{% for e in daftaragenda %}
						<tr>
							<td>{{e.name}}</td>
							<td>{{e.location}}</td>
							<td>{{e.date|date:"l, j F Y"}}</td>
							<td>{{e.time|date:"H:i"}}</td>
							<td>{{e.category}}</td>
						</tr>
						{% endfor %}
					</tbody>
					<form action="/mysite/agendaku/hapus/" >
						<button type="submit" value="hapus">hapus </button>

					</form>

				</table>
			</div>
		</div>

	<div class="container">
		<h1>Tambah Agenda</h1>
		<div class="form-group">
			<form method="POST" class="post-form">{% csrf_token %}
		        {{ form.as_p }}
		        <button type="submit" class="save btn btn-default">Simpan</button>
		    </form>
		</div>
	</div>
		
	{% endblock %}
	


</div>
</div>


</body>
</htmlg