{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
	
	<div class="container">
		<header> <h1>Buku Tamu</h1></header>
			<div class="form-group">
				<label for="name">Nama:</label>
				<input type="name" class="form-control" id="name" placeholder="Masukkan Nama">
			</div>
			<div class="form-group">
				<label for="date">Tanggal:</label>
				<input type="date" clatss="form-control" id="date" placeholder="Masukkan Tanggal">
			</div>
			<div class="form-group">
		      <label for="email">Email:</label>
		      <input type="email" class="form-control" id="email" placeholder="Masukkan email">
		    </div>
		    <div class="form-group">
		      <label for="title">Subjek:</label>
		      <input type="title" class="form-control" id="title" placeholder="Masukkan Subjek">
		    </div>
		    <div class="form-group">
		    	<label for="text">Pesan</label>
		    	<form action="/action_page.php" id="usrform">
				  <textarea rows="5" cols="50" name="comment" form="usrform" placeholder="Masukkan Pesan"></textarea>
				</form>
		    </div>
		    <input type="submit" value="kirim">
	</div>	
	


</div>
</div>


</body>
</html>