{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>

	<div class="container" id="Pengalaman">
	  	<div class="row">
	    <div class="col-sm-4" id="foto_bio">
	      <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/42495758_2611321995548247_552165492404518912_n.jpg?_nc_cat=105&oh=da348fc2256fc8194afb7d87633748d1&oe=5C1DEFDC" class="img-rounded img-responsive"style="width:298px;height: 448px"></img>
	      <div class="row">
	      	<div class="col"> 
	      		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/518c37422ca6474c8a3d4d4509ebe97b?quality=95&fake=.png" style="width: 64px;height: 64px"></img>
	      		<p style="text-align: left;">Jl. KH Ahmad Dahlan V,Kukusan ,Beji, Depok.<p>

	      	</div>
	      	<div class="col">
	      		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/37eefe1951ca40a9b28b3f84da451434?quality=95&fake=.png" style="width: 64px;height: 64px"></img>
	      		<p style="text-align: left;">082316463078<p>
	      	</div>
	      	<div class="col">
	      		<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/597c0ea0c1764a2d88e8e412cc84fad2?quality=95&fake=.png" style="width: 64px;height: 64px"></img>
	      		<p style="text-align: left;">Sistem Informasi,2016<p>
	      	</div>
	      </div>

	    </div>
	    <div class="col-sm-4">
	      <h3>Pengalaman Organisasi</h3>
	      <ol>
	      	<li>BPH OSIS SMAN Modal Bangsa 2016</li>
	      	<li>Staff Kreartore 2017</li>
	      	<li>Wakil Ketua Computer Science Sineas 2018</li>
	      </ol>
	      <h3>Pengalaman Kepanitiaan</h3>
	      <ol>
	      	<li>Staff Mentor Betis 2018</li>
	      	<li>Staff Mentor PMB 2018</li>
	      	<li>Staff Artistic Videography UIFF 2018</li>
	      	<li>BPH PHD SSG UI 2019</li>
	      </ol>
	      <h3>Pengalaman Lain</h3>
	      <ol>
	      	<li>Koordinator Angkatan Fasilkom UI 2017</li>
	      	<li>Anggota Teater Pandora 2018</li>
	      </ol>
	    </div>
	    <div class="col-sm-4">
	      <h3>Pengalaman seni</h3> 
	      <ol>
	      	<li>Pemeran Utama Pementasan Teater Mosa di Flash 2016</li>
	      	<li>Pemeran Utama Pementasan Teater Biru Merah di UIAW 2017</li>
	      	<li>Pemeran Pendukung Pementasan Teater Pandora di GIK 2018</li>
	      	<li>Pemeran Cameo Pementasan TGB 2018</li>
	      	<li>Sutradara Pementasan Teater Biru Merah di UIAW 2018</li>
	      	<li>Sutradara Film Pendek Aku Bukan Teroris 2016</li>
	      	<li>Sutradara Film Pendek Deadline 2016</li>
	      	<li>Sutradara Film Pendek Mimpi 2017</li>
	      	<li>Asisten Sutradara Film Pendek Dinding 2017</li>
	      	<li>Pemeran Pendukung Film Pendek OPSI 2018 </li>
	     
	      </ol>
	    </div>
	  </div>
	</div>
</div>
</div>


</body>
</html>