{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
	<div class="tulisan_foto">
		<img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/41948624_2601840056496441_3576067586867068928_n.jpg?_nc_cat=106&oh=b3d26e808580d7e496b9a6bced48e30b&oe=5C171950" width="100%" height="auto" ></img>
	</div>

	<!-- untuk si slide-->
	<div class="jumbotron text-center">
	  <h1>Kutipan Harian</h1> 

	<div class="container" style="width: auto;height:100%;">		
	<div class="col-md-8 col-md-offset-2">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>		
			</ol>
 
			<!-- deklarasi carousel -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<h2 class="text-center">Kunci Berkarya</h2>
					<p class="text-center">Sedikit Lebih beda lebih baik<br>dari pada sedikit lebih baik</p>
				</div>
				<div class="item">
					<h2 class="text-center">Menggapai Impian</h2>
			<p class="text-center">Mundurlah sedikit agar kau bisa melompat lebih jauh<br>dalam menggapai impianmu</p>
				</div>
				<div class="item">
					<h2 class="text-center">Tentang Mimpi</h2>
				<p class="text-center">Mimpilah setinggi langit bahkan luar angkasa dan berusahalah sekuatmu,<br>jikalau kau terjatuh setidaknya kau jatuh di bintang bintangnya.</p>
				</div>				
			</div>
 
			<!-- membuat panah next dan previous -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
	      		<span class="glyphicon glyphicon-chevron-left"></span>
	      		<span class="sr-only">Previous</span>
    		</a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
		</div>
	</div>
   </div>
  


</div>
</div>


</body>
</html>
