<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Website for Story 3</title>
	<!-- bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--------------->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid" style="background-color: #3090C7">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <i class="material-icons">event_note</i>
	    </div>

	    <div class="collapse navbar-collapse" id="myNavbar">
		    <ul class="nav navbar-nav">
		      <<li ><a href="{% url 'homepage' %}">Beranda</a></li>
				<li><a href="{% url 'about' %}">Tentang</a></li>
				<li><a href="{% url 'cv' %}">CV</a></li>
				<li ><a href="{% url 'portofolio' %}">Portofolio</a></li>
				<li><a href="{% url 'rekomendasi' %}">Rekomendasi Film</a></li>
				<li><a href="{% url 'bukutamu' %}">Buku Tamu</a></li>
				<li><a href="{% url 'agendaku' %}">Agendaku</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right" id="sosmed">
		    	<li><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHwrwxdbpPnqdktTwTDbngLvLFnWjSqVlsKDStkMTDVBQzSVqrBNpDWdwKnnZXsxPlJcRhQ" class="fa fa-google-plus" target="_blank" ></a> </li>
				<li><a href="https://www.youtube.com/channel/UC2eTLdsQRlO6Yoyp77ewbOw?view_as=subscriber" class="fa fa-youtube-play" target="_blank"></a></li>
				<li><a href="https://www.facebook.com/fatih.almutawakkil" class="fa fa-facebook" target="_blank"></a></li>
				<li><a href="https://www.instagram.com/fatihalmutawakkil" class="fa fa-instagram" target="_blank"></a></li>
		      </ul>
	  	</div>
	</nav>
</body>
</html>