{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
	</div>
	<h2 style="text-align: center;">Portofolio</h2>
	<h4 style="color: #8190A5;font-family: Lato;font-size: 18px;font-weight: 400;text-align: center;">Berikut adalah hasil kerja saya di bidang seni peran</h4>

	<!---
		portofolio atas
	-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/724d45f41add4f53bf3952b38e71a907?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 393px;height: 290px;margin:10px"></img>
				<div class="square img-rounded" style="position: relative;top: -5px">
					<p>Pementasan Teater Pandora di Galeri Indonesia Kaya 2018 </p>
				</div>
			</div>
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/afa8905175284920bc6da4ace9e19fa7?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 443px;height:294.03px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p>Pementasan Teater Mosa di Flash 2016</p>
				</div>
			</div>

			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/005aca68e3864c36b15fbab541c0761d?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 453px;height:293px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p>Pementasan teater biru merah di UIAW 2017</p>
				</div>

			</div>
		</div>
	</div>
	
	<!--
		portofolio bawah -->
		<div class="container" id="portofoliobawah">
		<div class="row">
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/5fc98eb9c00f425a9789dd6683e40912?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 421px;height: 314px;"></img>
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p style="position: relative;top: 15px">Film "Mimp!" 2017</p>
				</div>
			</div>
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/b520863041dc44d8a2c6a1884b5b91af?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 456px;height:312px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p style="position: relative;top: 15px">Film "Dinding" 2017</p>
				</div>
			</div>

			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/aaeadcdd1c8b4bbdb9af178cf69a04ff?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 426px;height:316px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p style="position: relative;top: 15px">Film "Opsi"2018</p>
				</div>
			</div>
		</div>
	</div>

	<h2 style="text-align: center;">Film Saya</h2>
	<h4 style="color: #8190A5;font-family: Lato;font-size: 18px;font-weight: 400;text-align: center;">Berikut adalah salah satu film yang pernah saya sutradarai</h4>
	<iframe width="420" height="315" src="https://www.youtube.com/embed/5D10aW7bV0s" frameborder="0" allowfullscreen style="position: relative; left: 690px"></iframe>
</div>
</div>


</body>
</html>