{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
	
	<h2 style="text-align: center;">Rekomendasi Film</h2>
	<h4 style="color: #8190A5;font-family: Lato;font-size: 18px;font-weight: 400;text-align: center;">Berikut adalah beberapa rekomendasi film yang saya sukai</h4>

	<!---
		portofolio atas
	-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/2a09f58eb1484f0e997c2727e5922862?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 393px;height: 290px;margin:10px"></img>
				<div class="square img-rounded" style="position: relative;top: -5px">
					<p>Miles 22(2018) </p>
				</div>
			</div>
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/8cdd04745dd94af69284bbd673d3d904?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 443px;height:294.03px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p>Wonder(2017)</p>
				</div>
			</div>

			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/01c4a50369414b2a808fbf70ed9dc954?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 453px;height:293px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p>Sebelum Iblis Menjemput (2018)</p>
				</div>

			</div>
		</div>
	</div>
	
	<!--
		portofolio bawah -->
		<div class="container" id="portofoliobawah">
		<div class="row">
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/bf8ef8546f3c4f7a8bd3548fccacbe27?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 421px;height: 314px;"></img>
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p style="position: relative;top: 15px">Ready Player One (2018)</p>
				</div>
			</div>
			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/9043933c1b29415c8743897fad800786?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 456px;height:312px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p style="position: relative;top: 15px">Kafir 2018</p>
				</div>
			</div>

			<div class="col-sm-4">
				<img src="https://marvel-live.freetls.fastly.net/canvas/2018/9/66f025154b594440ac49d50a85372dd7?quality=95&fake=.png" class="img-rounded img-responsive" style="border-radius: 100px;width: 426px;height:316px">
				<div class="square img-rounded" style="position: relative;top: 10px">
					<p style="position: relative;top: 15px">Searching(2018)</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


</body>
</html>