body{
			margin: 0;
		}
		.navbar{
			overflow: hidden;
			background-color: #3090C7;
		}
		.navbar .nav li a {
		  color: #ffffff;

		}
		.navbar .material-icons {
		  color: #eca1a6;
		  font-size:3em;
		  width: 50px;
		  height:50px; 
		  position:relative;
		  top:5px;

		}
		.navbar #sosmed li a {
			color: #eca1a6;
		  font-size: 2em;
		  max-width: 100%;
		  height: auto;
		}
		.navbar .nav li a:hover {
		  background-color: #d64161;
		  color: black;
		}
		.tulisan_foto h1{
			font-size: 3vw;
			color: black;
			position: fixed;
			top: 10px;
			left:0;
			right:1;
			bottom:0;
			margin: auto;
			text-align: center;
			color: white;
			 width:594px;
			 height:190.16px;
			 
		}
		.tulisan_foto img{
			position: relative;
			z-index: 1;

		} 
		#Pengalaman li{
			margin: 20px 0;
		}
		.container #portofoliobawah .row img{
			margin: 10px;
		}
		.container .row .square {
			 background-color: #00A6FF;
			 border-radius: 100px;
			 opacity: 0.79;
			 width: 390px;
			 height: 65px;
 		
		}
		.container .row .square p{
			color: #FFFFFF;
			font-family: Abril Fatface;
			font-size: 25px;
			font-weight: 400;
			line-height: 32px;
			width: 360px;
			text-align: center;
		}
		