body{
			margin: 0;
		}
		.navbar{
			overflow: hidden;
			background-color: #3090C7;
		}
		.navbar .nav li a {
		  color: #f2f2f2;

		}
		.navbar .material-icons {
		  color: #eca1a6;
		  font-size:3em;
		  width: 50px;
		  height:50px; 
		  position:relative;
		  top:5px;

		}
		.navbar #sosmed li a {
			color: #eca1a6;
		  font-size: 2em;
		  max-width: 100%;
		  height: auto;
		}
		.navbar .nav li a:hover {
		  background-color: #d64161;
		  color: black;
		}
		.tulisan_foto h1{
			font-size: 3vw;
			color: black;
			position: fixed;
			top: 10px;
			left:0;
			right:1;
			bottom:0;
			margin: auto;
			text-align: center;
			color: white;
			 width:594px;
			 height:190.16px;
			 
		}
		.tulisan_foto img{
			position: relative;
			z-index: 1;

		}